.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;
}
.nav-center {
  width: 90vw;
  max-width: 1170px;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: none;
}
.signin-btn {
  display: none;
}

@media (min-width: 800px) {
  .toggle-btn {
    display: none;
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  .nav-links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    height: 100%;
    align-items: center;
  }
  .nav-links li {
    height: 100%;
  }
  .signin-btn {
    display: block;
  }
  .link-btn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    color: white;
    text-transform: capitalize;
    width: 10rem;
    letter-spacing: 1px;
  }
}
